:root {
  --c1: #121212;
  --c2: #000000;
  --c3: #ffffff;
  --c4: #656565;
  --c5: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container  {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(70px, max-content) 2fr 70px;
  width: 100vw;
  height: 100vh;
}

.container header {
  grid-column: span 2;
}

.navbar {
  background-color: var(--c2);
  color: var(--c4);
  display: flex;
}

.navbar-menu__home {
  fill: var(--c5);
  stroke: var(--c3);
  stroke-width: 2px;
}

.navbar-logo,
.navbar-menu__search,
.navbar-others__install {
  fill: var(--c3);
}

.navbar-logo,
.navbar-menu__home,
.navbar-menu-search__icon,
.navbar-menu-search__lib,
.navbar-others__install {
  width: 48px;
  padding: 10px;
}

.navbar-menu__home {
  background-color: var(--c5);
  border-radius: 50%;
}

.navbar-logo svg,
.navbar-menu__home svg,
.navbar-menu-search__icon svg,
.navbar-others__install svg {
  width: 100%;
}

.navbar-menu { 
  background-color: var(--c1);
  display: flex;
}

.navbar-menu__search {
  display: flex;
}

.navbar-others {
  display: flex;
}